body {
	font-size: 16px;
	line-height: 27px;
	word-wrap: break-word;
	margin-bottom: 40px;
	font-family: 'microsoft yahei';
	color: #555;
}
img {
	margin: 5px 0;
	display: block;
	max-width: 100%;
	height: auto
}
h3, h4, h5 {
	border-bottom: #eee 1px solid;
	padding-bottom: 5px;
	margin-bottom: 30px;
	font-weight: normal;
}
h2 {
	color: #444;
	font-size: 20px;
	font-weight: bold;
	margin: 30px 0;
	padding: 10px 0;
	line-height: 20px;
}
h3 {
	font-size: 15px;
	padding-bottom: 0;
	font-weight: bold;
}
h4 {
	font-size: 14px;
	font-weight: bold;
}
h5 {
	font-size: 14px;
	font-weight: bold;
}
ul, ol {
	margin: 0 0 30px 10px
}
p {
	margin-bottom: 30px;
}
pre {
	word-wrap: break-word
}
table {
	border-top: solid 1px #ddd;
	border-left: solid 1px #ddd;
	width: 100%;
	margin-bottom: 30px
}
table th {
	background-color: #f9f9f9;
	text-align: center
}
table td, table th {
	border-bottom: solid 1px #ddd;
	border-right: solid 1px #ddd;
	padding: 5px 10px
}
.alignnone {
	margin: 0 auto;
}
.alignleft {
	float: left;
	text-align: left;
	margin-right: 30px
	margin-bottom: 30px
}
.aligncenter {
	margin: 0 auto;
	text-align: center;
	display: block;
}
.alignright {
	float: right;
	text-align: right;
	margin-left: 30px
	margin-bottom: 30px
}
.wp-caption {
	margin-bottom: 20px;
	background-color: #f6f6f6;
	padding: 10px 10px 1px;
	max-width: 100%
}
.wp-caption img {
	margin: 0 0 5px;
}
.wp-caption p {
	margin-bottom: 10px;
	text-indent: 0;
}
.wp-caption.alignnone {
	text-align: center;
}
.wp-caption-text {
}
.wp-caption:hover {
}
.wp-caption:hover .wp-caption-text {
	color: #FF5E52;
}
.wp-edot {
	color: #Bd520e;
}
a {
	color: #428bca;
	text-decoration: underline
}
a:hover {
	color: #FF5E52
}
pre, .comment pre {
	margin: 20px 0;
	font: 12px/20px 'courier new';
	background: #4A4A4A;
	padding: 10px 20px;
	color: #F8F8D4;
	border: none
}
blockquote {
	margin: 30px 30px;
	padding: 15px 20px 1px;
	font-size: 16px;
	color: #999;
	border-left: 5px solid #EEE;
}
blockquote p {
	margin: 0;
	padding: 0;
	margin-bottom: 10px;
}